body {
    background-color: #f0f2f5;
}
h1, h2, p, a, table, ol{
    font-family: 'Inter', sans-serif;
}
p{
    text-decoration-thickness:1px;
    line-height:25px;
    padding:10px;
    padding-inline:10px;
    word-spacing:2px;

}
h1, h2, .navbar {
    text-align: center;
}
h1, .navbar a, .footer p{
    color: white;
}
h1 {
    margin:10px;
}
h2 {
    color: #5cb85c;
    margin-left: 10px; margin-right: 10px;
    border-bottom: 2px solid #5cb85c;
    padding-bottom: 10px;
}
.navbar a {
    transition: display 0.5s;
    text-decoration: none;
}
.navbar a {
    display: inline-block;
    box-shadow: inset black; 
}
.navbar li {
    list-style: none;
    display: inline;
    margin: 20px;
}
.header, .navbar a {
    background-color: #4CAF50;
    border:#4CAF50;
    
}
.header {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding:20px;
    position: sticky;
    margin: -8px;
    box-sizing:border-box;
    top: 0px; left: 0px; right: 0px; bottom: 0px;
    height: max-content;
}
.main-content{
    padding: 10px;
    justify-self:center;
    background-color:white;
    width:60%;
    box-shadow: 3px 3px 3px 3px #00000022;
    border-radius:5px;
    margin-bottom:100px;
}
.section{
    margin:10px;
    margin-bottom:30px;
    background-color: #f9f9f9;
    border: #f5f5f5;
    border-radius: 10px;
    border-style:solid;
}
table{
    justify-self:center;
    border-collapse: collapse;
    box-shadow: 1px 1px #00000022;
}
td, th{
    border: 1px solid lightgrey;
    padding:15px;
    padding-inline:20px;
}
thead tr{
    text-align:left;
    background-color: #e9ecef;
    text-decoration-thickness:2px;
}
tbody tr{
    background-color: white;
}
tbody tr:nth-child(2n){
    background-color: #f2f2f2;
}
ol li{
    line-height:30px;
    margin-inline:25px;
}
.footer{
    background-color: #343a40;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    padding:20px;
    margin: -8px;
    height:max-content;
}